body {
margin: 0;
font-family: Arial;
background: #111;
color: white;
text-align: center;
}

.hero {
padding: 100px 20px;
background: linear-gradient(135deg, #ff0033, #990000);
}

button {
padding: 12px 20px;
border: none;
background: gold;
cursor: pointer;
font-weight: bold;
}

input {
display: block;
margin: 10px auto;
padding: 10px;
width: 250px;
}
